.container-fluid{
  height: 125px;
  background-color:rgb(250, 172, 26);
  border-color: rgb(250, 172, 26);
  border-style: solid;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 5px;    
  }

body {
  font-family: 'Arial', sans-serif;
  background-color:rgb(45, 43, 43);
  justify-content: center;
  height: 100vh;
  color: white;
}

.Aether {
    width: 800x;
    height: 400px;
    margin-left: 5px;
}
.wrap{
  display: flex;
  justify-content: center;
}
#genre {
    font-size: 15px;
}

#head {
    margin-left: 40px;
}

#paragraph {
    margin-left: 40px;
}

img {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
}

#body {
    font-size: 20px;
    margin-top: 109px;
    
}

#info {
font-size: default;
}

#title {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

#Synopsis {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 10px;
    color: white;
  }

  summary {
    margin-left: 40px;
    font-size: 20px;
    color: white;
  
  }

#location {
    background-color: rgb(94, 194, 37);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    margin-left: 40px;
}

#location:hover {
    background-color: rgb(57, 160, 26);
  }

  #paragraph {
    font-size: 20px;
  }

#ticket {
    background-color: #34a6db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    margin-left: 40px;
}
#ticket:hover {
    background-color: #1f99d1;
  }

#trailer {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-left: 40px;
  }
  
  #trailer:hover {
    background-color: #c0392b;
  }