* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #22092C;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6C22;
    height: 60px;
}

#navList {
    display: flex;
    align-items: center;
    list-style: none;
}

#navList li {
    padding: 5px;
    margin-left: 25px;
}

#navList li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

#navList li a:hover {
    color: #340844;
}

#icon a {
    text-decoration: none;
    color: #22092C;
    font-size: 52px;
}

#loginSection {
    display: inline-block;
    margin-right: 25px;
}

#loginSection button {
    border-radius: 25px;
}

#loginSection button:nth-child(1) {
    background-color: #340844;
    border: none;
    padding: 12px 0;
}   

#loginSection button:nth-child(1):hover {
    background-color: #24062e;
}

#loginSection button:nth-child(2) {
    background-color: #EBE3D5;
    border: #22092C solid 2px;
    padding: 10px 0;
}

#loginSection button:nth-child(2):hover {
    background-color: #fff;
} 

#loginSection button:nth-child(1) a {
    text-decoration: none;
    color: white;
    padding: 12px 22px 12px 22px;
}

#loginSection button:nth-child(2) a {
    text-decoration: none;
    color: #22092C;
    padding: 10px 20px 10px 20px;
}

#contentSection {
    text-align: center;
}

#pageTitle {
    padding-top: 15px;
    color: white;
    font-size: 36px;
    display: block;
}

#seatSection {
    display: flex;
    justify-content: center;
}

#seatList {
    width: 60%;
    margin: 20px;
}

.lists {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lists div{
    display: flex;
    list-style-type: none;
    margin: 10px;
}

.lists div li{
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    cursor: pointer;
}

.lists div li:hover{
    background-color: green;
}

#btns {
    margin: 30px;
    display: flex;
    justify-content: center;
}


.submitBtn button {
    padding: 15px 0;
    margin: 5px;
    background-color: #FF6C22;
    border: none;
    border-radius: 25px;
}

.submitBtn button a {
    text-decoration: none;
    color: white;
    padding: 15px 60px;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
}

.submitBtn button a:hover {
    background-color: #d65312;
}

#wrapper {
    display: none;
    justify-content: center;
}

#confirmSection {
    width: 60%;
    color: #fff;
    margin: 20px;
}

#confirmSection h2 {
    text-align: center;
}

#confirmContents {
    margin: 20px;
}

/* #confirmContents img {
    height: 200px;
} */

#textContents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}