#seatSection {
    display: flex;
    justify-content: center;
}

#seatList {
    width: 60%;
    margin: 20px;
}

.lists {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lists div{
    display: flex;
    list-style-type: none;
}

.lists div li{
    padding: 10px;
    margin: 10px;
    background-color: lightgreen;
}

.lists div li:hover{
    padding: 10px;
    margin: 10px;
    background-color: green;
}

#submitBtn {
    display: flex;
    justify-content: center;
}

#submitBtn button {
    margin: 30px;
    padding: 10px 30px;
    color: black;
    border-color: green;
}