body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.promo-items {
    max-width: 100%; 
    height: auto;  
    border-radius: 15px;
    margin: 10px;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 30px;
}
.featured-section, .menu-section {
    padding: 20px;
}

.featured-items, .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-items img, .menu-items img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px;
}

.water-bottle {
    float: right;
    margin-left: 300px;
}